.cart__container {
    text-align: center;
    justify-content: top;
    display:flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    width: 30%;
    height: 100%;
    display:none;
    background-color: beige;
    border: 1px black solid;
    &--close{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1%;
        right: 0.5%;
    }
    &--buy{
        position: absolute;
        bottom: 1%;
        left: 55%;
        width: 150px;
        height: 40px;
    }
    &--clear{
        position: absolute;
        bottom: 1%;
        left: 15%;
        width: 150px;
        height: 40px;
    }
    &--price{
        background-color: gray;
        padding: 5px;
        border-radius: 5px;
        color: white;
        position: absolute;
        bottom: 9%;
        left: 5%;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
    }
    &--contenido{
        justify-content: center;
        align-items: center;
    }
}
.product__incart{
    width: 70%;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin: 5px;
}
.product__incart--price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    margin-right:5px;
}
.spacer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    margin-right:5px;
}