.cartWidgetContainer {
    position: relative;

}
.cartWidget {
    position: relative;
    color: white;
    background-color: #583A58;
    border: 1px black solid;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2rem;
    padding: 4px;
}
.alertWidget {
    position: absolute;
    z-index: 2;
    top:-30%;
    right: 28%;
}
