.buttondetail{
    margin: 5px;
}
.buttoncart{
    margin: 5px;
}
.cart__container--contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}